변수 만들기
    
- 변수에 값 할당 (a = 3)
- 변수명 = 변수값
- 변수에 값이 할당될 때 변수값의 자료형에 따라 변수의 자료형이 결정됨

In [15]:
name = 'drwill'
age = 20
height = 178.1254
ischild = age < 20

변수 값, 자료형 출력하기

- 변수에 접근할 때 : 변수명 사용
- 변수값 출력 : print(변수명)
- 변수자료형 출력 : print(type(변수명))

In [16]:
print(name)
print(type(name)) # 문자열

drwill
<class 'str'>

In [17]:
print(age)
print(type(age)) # 정수

20
<class 'int'>

In [18]:
print(height)
print(type(height)) # 실수

178.1254
<class 'float'>

In [19]:
print(round(height))

178

In [20]:
print(round(height,2))

178.13

In [22]:
print(ischild)
print(type(ischild))# bool : 참(1), 거짓(0) boolean

False
<class 'bool'>

쌍 따옴표나 홑 따옴표가 포함되어 있는 문자열 사용하기

- 홑 따옴표가 포함되어 있는 문자열 사용하기

In [23]:
a = "'낮말'은 새가 듣고, '밤말'은 쥐가 듣는다"
print(a)

'낮말'은 새가 듣고, '밤말'은 쥐가 듣는다

In [24]:
b = '"시간은 금"이라는 말 못 들어봤니?'
print(b)

"시간은 금"이라는 말 못 들어봤니?

키보드로 변수에 값 입력받기

- input()
- (매우중요) input으로 입력받은 값은 무조건 str(문자)

In [25]:
a = input('나이 : ')

나이 : 20

In [26]:
type(a)

str

In [27]:
a = int(input('나이 : '))
a, type(a)

나이 : 20

(20, int)

In [28]:
a = input('사는 곳은 어디에요? : ')
a, type(a)

사는 곳은 어디에요? : 강동구

('강동구', str)

자료형 변환하기

- int(value) : int(정수)형으로 변환

In [31]:
age = int('20')
print(age, type(age))

20 <class 'int'>

- float(value) : 실수형으로 변환

In [32]:
height = float(178)
print(height, type(height))

178.0 <class 'float'>