학생별 총점, 평균 구하기

- 학생별 [국어, 영어, 수학] 리스트

In [2]:
score = [[96,84,80], [96,86,76], [76,95,83], [89,96,69], [90,76,94]]
stu_scores = []

for i in score :
    total = sum(i)
    average = total / 3
    print([total, round(average,2)])

[260, 86.67]
[258, 86.0]
[254, 84.67]
[254, 84.67]
[260, 86.67]

In [6]:
for i in score :
    total = sum(i)
    average = total/3
    stu_scores.append([total, round(average,2)])

In [7]:
stu_scores

[[260, 86.67], [258, 86.0], [254, 84.67], [254, 84.67], [260, 86.67]]

과목별 평균 구하기

In [8]:
score = [[96,84,80], [96,86,76], [76,95,83], [89,96,69], [90,76,94]]

# 출력해서 나올 각 과목의 값(평균) 담을 공간 생성(리스트)

kor = []
eng = []
math = []

# 초기값 설정

kor_average = 0
eng_average = 0
math_average = 0

# 각 과목의 리스트 분리

for i in score :
    kor.append(i[0])
    eng.append(i[1])
    math.append(i[2])
    
print('korean : ', kor)
print('english : ', eng)
print('math : ', math)

korean :  [96, 96, 76, 89, 90]
english :  [84, 86, 95, 96, 76]
math :  [80, 76, 83, 69, 94]

In [9]:
sum(kor) / len(kor)

89.4

In [10]:
kor_average = sum(kor) / len(kor)
eng_average = sum(eng) / len(eng)
math_average = sum(math) / len(math)

print('kor_average : ', kor_average)
print('eng_average : ', eng_average)
print('math_average : ', math_average)

kor_average :  89.4
eng_average :  87.4
math_average :  80.4

랜덤 항목 추출하기

- random.choice(리스트명)

In [11]:
menu = ['한식', '일식', '중식', '양식','분식','이탈리아식']

import random

random.choice(menu)

'양식'

In [12]:
menulist = []

while True :
    menu = input('땡기는 메뉴 : ')
    if menu == '' :
        break
    menulist.append(menu)

print('오늘의 점심 메뉴는 : ', random.choice(menulist))

땡기는 메뉴 : 분식
땡기는 메뉴 : 양식
땡기는 메뉴 :
오늘의 점심 메뉴는 :  양식