딕셔너리 항목 추가/ 수정

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
# 딕셔너리명[key] = value
# key가 존재하지 않으면 >> 추가, 존재하면 >> 수정된다.

scores = {'kor':100,'eng' : 90, 'math' : 80}

# math 점수 85점으로 수정하기

scores['math'] = 85

# music 점수 95점 추가

scores['music'] = 95

scores

{'kor': 100, 'eng': 90, 'math': 85, 'music': 95}

In [11]:
# pd.DataFrame(scores)
# ValueError: If using all scalar values, you must pass an index

In [12]:
pd.DataFrame(scores, index = ['선홍'])

    kor  eng  math  music
선홍  100   90    85     95

In [13]:
pd.DataFrame([scores])

   kor  eng  math  music
0  100   90    85     95

setdefault로 항목 추가하기

- 딕셔너리명.setdefault(key, value)
- 이미 들어있는 key값은 수정할 수 없음

In [19]:
del scores['music']

In [20]:
scores_set = scores.copy()

In [21]:
scores_set.setdefault('music')
scores_set

{'kor': 100, 'eng': 90, 'math': 85, 'music': None}

In [23]:
scores_set.setdefault('music', 90)
scores_set  # 한번 설정해서 변경되지 않음

{'kor': 100, 'eng': 90, 'math': 85, 'music': None}

In [22]:
# music 점수 추가 : 90점

scores.setdefault('music',90)

scores

{'kor': 100, 'eng': 90, 'math': 85, 'music': 90}

In [24]:
# 이 방법으로 원래있던 값 변경 가능
scores['music'] = 85

scores

{'kor': 100, 'eng': 90, 'math': 85, 'music': 85}

update로 여러 항목 추가/수정하기

- key 존재하면 수정, 존재하지 않으면 추가
- 딕셔너리명.update(key1 = value1, key2 = value2)
- key에 ""(따옴표) 쓰지않음

In [26]:
scores

{'kor': 100, 'eng': 90, 'math': 85, 'music': 85}

In [27]:
scores.update(math = 90, music = 90)

In [28]:
scores

{'kor': 100, 'eng': 90, 'math': 90, 'music': 90}

- 딕셔너리명.update(zip([key, key,...], [val,val,...]))

In [30]:
scores.update(zip(['math','music'],[100,95]))

In [31]:
scores

{'kor': 100, 'eng': 90, 'math': 100, 'music': 95}

- 딕셔너리.update([(key1, val1),(key2, vla2)])

In [32]:
scores

{'kor': 100, 'eng': 90, 'math': 100, 'music': 95}

In [33]:
scores.update([('kor', 95),('eng', 100)])
scores

{'kor': 95, 'eng': 100, 'math': 100, 'music': 95}

- 딕셔너리명.update({key1 :val1, key2 : val2})

In [34]:
scores

{'kor': 95, 'eng': 100, 'math': 100, 'music': 95}

In [35]:
scores.update({'math' : 90 , 'music' : 90})
scores

{'kor': 95, 'eng': 100, 'math': 90, 'music': 90}

In [36]:
# 해당 key 항목 삭제

del scores['kor']

scores

{'eng': 100, 'math': 90, 'music': 90}

딕셔너리명.pop(key, 기본값)
- 해당 key(값) 반환하고 삭제

In [37]:
scores.pop('music')

90

In [38]:
scores

{'eng': 100, 'math': 90}

- 해당 key항목(값) 반환하고 삭제(key 존재하지 않으면, 기본값 반환)

In [39]:
scores

{'eng': 100, 'math': 90}

In [40]:
math = scores.pop('math','x')
print(math)

90

In [42]:
music = scores.pop('music','x')
print(music)

x

In [43]:
scores

{'eng': 100}

딕셔너리명.clear()
- 모든 항목 삭제

In [44]:
scores.clear()
scores

{}