람다표현식

- lambda 매개변수1, 매개변수2 ....
- 식 형태로 되어 있어서 람다표현식(lambda expression)
- 람다표현식 : 이름이 없는 익명함수

In [1]:
# 두 수를 매개변수로 받아 더한 결과를 리턴 하는 함수

def get_plus(n1, n2) :
    return n1 + n2

get_plus(1,2)

3

In [2]:
# lambda expression 만들기

lambda n1, n2 : n1 + n2

(lambda n1, n2 : n1 + n2)(3,5)

8

In [3]:
# 변수 plus로 lambda expression 담아 호출
plus = lambda n1, n2 : n1 + n2

print(plus(1, 2))

3

map 함수

- map은 리스트나 튜플의 각 요소를  지정된 함수로 처리해 주는 함수
- 원본 리스트 변경하지 않고 새 리스트를 생성
- list(map(함수, 리스트))
- tuple(map(함수, 리스트))

In [5]:
a = ['1','2','3','4']
list(map(int, a))

[1, 2, 3, 4]

map 함수에 람다표현식 사용하기

In [6]:
l1 = [1,2,3,4,5]
list(map(lambda x : x+1, l1))

[2, 3, 4, 5, 6]

람다표현식에 조건부 표현식 사용하기

- lambda 매개변수들 : 식1 if 조건식 else 조건식2

In [7]:
l1 = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x : float(x) if x%2 == 0 else str(x), l1))

['1', 2.0, '3', 4.0, '5', 6.0, '7', 8.0, '9', 10.0]