시리즈 만들기

- pd.Series(리스트)
    - 엑셀의 sheet중 열 1개와 같음
    - 1차원 리스트 형식

In [2]:
import pandas as pd
pd.Series(['drwill',177, 240])

0    drwill
1       177
2       240
dtype: object

In [3]:
s = pd.Series(['drwill',177, 240])

s.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
type(s)

pandas.core.series.Series

In [5]:
s.values

array(['drwill', 177, 240], dtype=object)

In [6]:
s.index = ['name', 'height', 'footsize']
s

name        drwill
height         177
footsize       240
dtype: object

In [7]:
s.index

Index(['name', 'height', 'footsize'], dtype='object')

시리즈의 통계값 사용하기

- 평균 : Series.mean()
- 최솟값 : Series.min()
- 최댓값 : Series.max()
- 중간값 : Series.median()
- 표준편차(평균에서 떨어진 정도) : Series.std()

- Series 통계값은 Series의 value(값) 모두 숫자형일 때 사용 가능

In [9]:
s2 = pd.Series([10,20,30,40,50])
s2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
print('평균 : ', s2.mean())
print('최솟값 : ', s2.min())
print('최댓값 : ', s2.max())
print('중간값 : ', s2.median())
print('표준편차 : ', s2.std())

평균 :  30.0
최솟값 :  10
최댓값 :  50
중간값 :  30.0
표준편차 :  15.811388300841896

요약통계

- Series.describe()

In [11]:
s2.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

Seires 주요 메소드

- 값 정렬 : Series.sort_values()
- 인덱스 정렬 : Series.sort_index()
- 인덱스 리셋 : Series.reset_index()
- 특정 값을 가진 Series 값을 교체 : Series.replace(찾을 값, 교체할 값)
- Series를 DataFrame으로 변환 : Series.to_frame()

In [12]:
s3 = pd.Series([1,3,2,4,10])
s3 = s3.replace(10, 5)
s3

0    1
1    3
2    2
3    4
4    5
dtype: int64

In [16]:
s3.sort_values()
# default(기본값) 오름차순
# ascending = True

0    1
2    2
1    3
3    4
4    5
dtype: int64

In [17]:
# value(값) 기준, 내림차순 정렬하고 싶어요

s3.sort_values(ascending = False)

4    5
3    4
1    3
2    2
0    1
dtype: int64

In [20]:
s3.to_frame()

   0
0  1
1  3
2  2
3  4
4  5

In [22]:
s3 = s3.sort_values()
print(s3)
print(s3.reset_index())

0    1
2    2
1    3
3    4
4    5
dtype: int64
   index  0
0      0  1
1      2  2
2      1  3
3      3  4
4      4  5

In [23]:
s3 = s3.reset_index()
s3

   index  0
0      0  1
1      2  2
2      1  3
3      3  4
4      4  5

In [24]:
del s3['index']

In [28]:
s3

   0
0  1
1  2
2  3
3  4
4  5

In [29]:
type(s3)

pandas.core.frame.DataFrame