Pandas 판다스

(1) DataFrame 객체 
    
  - 2차원 배열
    
  - 서로 다른 자료형을 사용할 수 있음
    
  - 행(instance), 열(column, feature)

(2) Series (default)
    
  - 1차원 배열
    
  - 1차원 ndarray 호환

In [2]:
# Series

import numpy as np
import pandas as pd

# 예시) Series 데이터를 만드는 방법

series = pd.Series([1,2,3,4], index = ['a','b','c','d'], name = 'Title')
print(series)

a    1
b    2
c    3
d    4
Name: Title, dtype: int64

In [3]:
# 국가별 인구수 Series 데이터 >> dictionary 사용

dict = {
    'korea' : 5180,
    'japan' : 12718,
    'china' : 141500,
    'usa' : 32676
}

print(dict)
print()
print(pd.Series(dict))

{'korea': 5180, 'japan': 12718, 'china': 141500, 'usa': 32676}

korea      5180
japan     12718
china    141500
usa       32676
dtype: int64

In [4]:
country = pd.Series(dict)
print(country)

korea      5180
japan     12718
china    141500
usa       32676
dtype: int64

In [5]:
# 국가별 인구수 Series 데이터(list 형태로)

pd.Series([5180, 12718, 141500, 32676], index = ['korea','japan','china','usa'], name = 'country')

korea      5180
japan     12718
china    141500
usa       32676
Name: country, dtype: int64

In [6]:
population = pd.Series([5180, 12718, 141500, 32676], index = ['korea','japan','china','usa'], name = 'country')
print(population)

gdp_dict = {
    'korea' : 169320000,
    'japan' : 516700000,
    'china' : 1409250000,
    'usa' : 2041280000
}
print()
print(gdp_dict)

korea      5180
japan     12718
china    141500
usa       32676
Name: country, dtype: int64

{'korea': 169320000, 'japan': 516700000, 'china': 1409250000, 'usa': 2041280000}

In [7]:
gdp = pd.Series(gdp_dict)
print(gdp)

korea     169320000
japan     516700000
china    1409250000
usa      2041280000
dtype: int64

In [8]:
# 2개의 Series를 합쳐서 데이터프레임 생성 

print('Country DataFrame_population & gdp\n')
country = pd.DataFrame({
    'population' : population,
    'gdp' : gdp
})
print(country)

Country DataFrame_population & gdp

       population         gdp
korea        5180   169320000
japan       12718   516700000
china      141500  1409250000
usa         32676  2041280000

In [9]:
print('Masking & query\n')

df = pd.DataFrame(np.random.rand(5,2), columns = ['A','B'])
print(df)

Masking & query

          A         B
0  0.315332  0.883295
1  0.371725  0.652260
2  0.585775  0.475275
3  0.972067  0.809051
4  0.451289  0.285413

In [10]:
# 데이터프레임에서 A 커럼 값이 0.5보다 작고 B 컬럼 값이 0.3보다 큰 값 구하세요.

df.loc[(df['A']<0.5) & (df['B']>0.3)]

          A         B
0  0.315332  0.883295
1  0.371725  0.652260

In [11]:
df[(df['A']<0.5) & (df['B']>0.3)]

          A         B
0  0.315332  0.883295
1  0.371725  0.652260

In [12]:
condition = (df['A']<0.5) & (df['B']>0.3)
df[condition]

          A         B
0  0.315332  0.883295
1  0.371725  0.652260

In [13]:
# query 함수

df.query('A<0.5 and B>0.3')

          A         B
0  0.315332  0.883295
1  0.371725  0.652260

새로운 컬럼 추가하기

In [14]:
print(country)

gdp_per_capita = country['gdp']/country['population']

country['gdp_per_capita'] = round(gdp_per_capita,2)
print()
print(country)

       population         gdp
korea        5180   169320000
japan       12718   516700000
china      141500  1409250000
usa         32676  2041280000

       population         gdp  gdp_per_capita
korea        5180   169320000        32687.26
japan       12718   516700000        40627.46
china      141500  1409250000         9959.36
usa         32676  2041280000        62470.31

In [15]:
df = pd.DataFrame([[1,2,3],
                   [4,5,6],
                   [7,8,9]],
                  index = ['a','b','c'], 
                  columns = ['gangdong','mapo','gangnam'])

print(df)
print(type(df))

   gangdong  mapo  gangnam
a         1     2        3
b         4     5        6
c         7     8        9
<class 'pandas.core.frame.DataFrame'>

In [16]:
# 사전(dict) 사용, dataframe 생성

score = {
            '성명' : ['홍길동','양진욱','김영희','이영찬','너'], 
            '국어' : [50, 100, 80, 90, 20],
            '영어' : [40,100,70,80,30],
            '수학' : [30, 80, 90, 70, 40]
        }

df = pd.DataFrame(score)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

    성명   국어   영어  수학
0  홍길동   50   40  30
1  양진욱  100  100  80
2  김영희   80   70  90
3  이영찬   90   80  70
4    너   20   30  40

In [17]:
df.shape

(5, 4)

In [18]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
df.columns

Index(['성명', '국어', '영어', '수학'], dtype='object')

In [20]:
df.values

array([['홍길동', 50, 40, 30],
       ['양진욱', 100, 100, 80],
       ['김영희', 80, 70, 90],
       ['이영찬', 90, 80, 70],
       ['너', 20, 30, 40]], dtype=object)

In [21]:
country

       population         gdp  gdp_per_capita
korea        5180   169320000        32687.26
japan       12718   516700000        40627.46
china      141500  1409250000         9959.36
usa         32676  2041280000        62470.31

In [22]:
# loc

country.loc['korea']

population        5.180000e+03
gdp               1.693200e+08
gdp_per_capita    3.268726e+04
Name: korea, dtype: float64

In [23]:
country.loc['korea':'china']

       population         gdp  gdp_per_capita
korea        5180   169320000        32687.26
japan       12718   516700000        40627.46
china      141500  1409250000         9959.36

In [24]:
country.iloc[0:3]

       population         gdp  gdp_per_capita
korea        5180   169320000        32687.26
japan       12718   516700000        40627.46
china      141500  1409250000         9959.36

In [25]:
country.iloc[:, 1]

korea     169320000
japan     516700000
china    1409250000
usa      2041280000
Name: gdp, dtype: int64

In [26]:
country['population']

korea      5180
japan     12718
china    141500
usa       32676
Name: population, dtype: int64

Pandas 로 csv 파일 읽고 쓰기

- pd.read_csv('파일이름.csv')
- pd.to_csv('파일이름.csv')

In [28]:
# # csv(comma seprated values)

# pd.read_csv('.csv')

In [29]:
country.to_csv('country.csv')

In [30]:
pd.read_csv('country.csv')

  Unnamed: 0  population         gdp  gdp_per_capita
0      korea        5180   169320000        32687.26
1      japan       12718   516700000        40627.46
2      china      141500  1409250000         9959.36
3        usa       32676  2041280000        62470.31

In [31]:
pwd # present working directory 현재 작업폴더 경로

'/content'

In [32]:
pd.read_csv('./country.csv') # . : 현재위치

  Unnamed: 0  population         gdp  gdp_per_capita
0      korea        5180   169320000        32687.26
1      japan       12718   516700000        40627.46
2      china      141500  1409250000         9959.36
3        usa       32676  2041280000        62470.31

In [48]:
df = pd.read_csv('/content/country.csv')
df

  Unnamed: 0  population         gdp  gdp_per_capita
0      korea        5180   169320000        32687.26
1      japan       12718   516700000        40627.46
2      china      141500  1409250000         9959.36
3        usa       32676  2041280000        62470.31

In [49]:
df.rename(columns = {'Unnamed: 0' : 'nation'}, inplace = True)
df

  nation  population         gdp  gdp_per_capita
0  korea        5180   169320000        32687.26
1  japan       12718   516700000        40627.46
2  china      141500  1409250000         9959.36
3    usa       32676  2041280000        62470.31

In [46]:
df.columns = ['nation', 'population', 'gdp','gdp_per_capita']

In [47]:
df

  nation  population         gdp  gdp_per_capita
0  korea        5180   169320000        32687.26
1  japan       12718   516700000        40627.46
2  china      141500  1409250000         9959.36
3    usa       32676  2041280000        62470.31

In [54]:
df.columns[-1]

'gdp_per_capita'

In [56]:
df.head() # 앞 5행만 출력

  nation  population         gdp  gdp_per_capita
0  korea        5180   169320000        32687.26
1  japan       12718   516700000        40627.46
2  china      141500  1409250000         9959.36
3    usa       32676  2041280000        62470.31

In [57]:
df.head(10) # 앞 10행 출력

  nation  population         gdp  gdp_per_capita
0  korea        5180   169320000        32687.26
1  japan       12718   516700000        40627.46
2  china      141500  1409250000         9959.36
3    usa       32676  2041280000        62470.31

In [58]:
df.tail() # 끝 5행 출력

  nation  population         gdp  gdp_per_capita
0  korea        5180   169320000        32687.26
1  japan       12718   516700000        40627.46
2  china      141500  1409250000         9959.36
3    usa       32676  2041280000        62470.31

In [97]:
pd.set_option('display.max_rows',20) # 행 출력 최대값 200개 보여줘

In [62]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [65]:
df = pd.read_csv('/content/drive/MyDrive/세싹_강동_인공지능 서비스 개발자/data/data.zip (Unzipped Files)/seoul_1.csv',encoding = 'cp949')

In [66]:
df

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,108,서울,Jan.08,-1.7,1.9,7.3,2008.1.6,-5.0,-11.1,2008.1.17
1,108,서울,Feb.08,-1.2,3.2,10.5,2008.2.22,-4.9,-10.1,2008.2.13
2,108,서울,Mar.08,7.3,11.9,19.8,2008.3.21,3.7,-1.7,2008.3.5
3,108,서울,Apr.08,14.1,19.5,28.0,2008.4.19,9.3,3.8,2008.4.4
4,108,서울,May.08,17.7,22.7,28.5,2008.5.29,13.1,8.1,2008.5.14
5,108,서울,Jun.08,21.5,26.1,29.6,2008.6.20,17.6,13.7,2008.6.5
6,108,서울,Jul.08,25.1,28.4,32.9,2008.7.9,22.6,20.2,2008.7.1
7,108,서울,Aug.08,25.3,29.5,35.4,2008.8.8,21.8,16.3,2008.8.22
8,108,서울,Sep.08,22.0,26.9,32.0,2008.9.17,18.0,10.3,2008.9.27
9,108,서울,Oct.08,16.1,21.0,28.3,2008.10.18,12.1,5.6,2008.10.28
10,108,서울,Nov.08,7.6,11.7,18.4,2008.11.6,3.8,-7.2,2008.11.19
11,108,서울,Dec.08,1.1,5.0,13.3,2008.12.10,-2.7,-13.1,2008.12.6
12,108,서울,Jan.09,-2.0,2.3,12.2,2009.1.30,-5.5,-11.4,2009.1.24
13,108,서울,Feb.09,2.9,6.8,16.1,2009.2.13,-0.6,-8.6,2009.2.17
14,108,서울,Mar.09,6.0,10.6,22.2,2009.3.21,1.8,-3.3,2009.3.14
15,108,서울,Apr.09,12.7,18.0,25.8,2009.4.19,8.1,2.2,2009.4.1
16,108,서울,May.09,19.1,24.3,31.0,2009.5.28,14.6,9.8,2009.5.5
17,108,서울,Jun.09,22.4,26.7,32.4,2009.6.27,18.8,14.3,2009.6.1
18,108,서울,Jul.09,24.3,28.2,32.4,2009.7.16,21.0,18.7,2009.7.10
19,108,서울,Aug.09,25.7,29.5,34.4,2009.8.16,22.4,16.4,2009.8.31
20,108,서울,Sep.09,21.8,26.3,29.9,2009.9.6,17.7,14.4,2009.9.22
21,108,서울,Oct.09,16.0,20.9,26.4,2009.10.1,11.7,6.2,2009.10.20
22,108,서울,Nov.09,6.9,10.4,21.8,2009.11.9,3.7,-4.3,2009.11.18
23,108,서울,Dec.09,-1.0,2.5,10.1,2009.12.1,-4.2,-12.9,2009.12.31
24,108,서울,Jan.10,-4.5,-0.7,8.4,2010.1.20,-8.1,-15.3,2010.1.13
25,108,서울,Feb.10,1.4,4.9,17.9,2010.2.24,-1.7,-10.8,2010.2.3
26,108,서울,Mar.10,4.3,8.1,14.2,2010.3.30,0.5,-4.0,2010.3.10
27,108,서울,Apr.10,9.5,14.0,20.7,2010.4.20,5.6,1.1,2010.4.3
28,108,서울,May.10,17.2,22.0,28.6,2010.5.21,13.0,5.8,2010.5.1
29,108,서울,Jun.10,23.4,28.2,32.7,2010.6.10,19.3,12.1,2010.6.1
30,108,서울,Jul.10,25.8,29.3,32.3,2010.7.20,23.1,21.0,2010.7.12
31,108,서울,Aug.10,26.5,30.0,33.8,2010.8.5,23.8,19.9,2010.8.25
32,108,서울,Sep.10,21.8,26.0,31.4,2010.9.1,18.5,8.4,2010.9.30
33,108,서울,Oct.10,14.5,19.3,24.2,2010.10.9,10.4,0.7,2010.10.27
34,108,서울,Nov.10,6.5,11.3,17.4,2010.11.13,2.5,-5.2,2010.11.28
35,108,서울,Dec.10,-1.3,3.1,13.5,2010.12.2,-5.1,-15.1,2010.12.24
36,108,서울,Jan.11,-7.2,-3.4,0.3,2011.1.14,-10.5,-17.8,2011.1.16
37,108,서울,Feb.11,1.2,5.9,13.2,2011.2.26,-2.5,-9.2,2011.2.12
38,108,서울,Mar.11,3.6,8.3,16.8,2011.3.31,-0.1,-5.5,2011.3.3
39,108,서울,Apr.11,10.7,15.6,19.0,2011.4.15,6.8,4.3,2011.4.1
40,108,서울,May.11,17.9,23.0,31.2,2011.5.29,13.6,8.5,2011.5.2
41,108,서울,Jun.11,22.0,26.6,32.9,2011.6.19,18.4,14.4,2011.6.3
42,108,서울,Jul.11,24.6,28.0,34.1,2011.7.18,22.0,18.9,2011.7.4
43,108,서울,Aug.11,25.8,29.5,34.1,2011.8.5,23.0,18.1,2011.8.23
44,108,서울,Sep.11,21.8,26.6,32.4,2011.9.2,17.7,10.3,2011.9.30
45,108,서울,Oct.11,14.2,19.3,23.4,2011.10.13,9.7,3.1,2011.10.26
46,108,서울,Nov.11,10.7,14.7,25.9,2011.11.5,7.2,-5.5,2011.11.24
47,108,서울,Dec.11,-0.9,2.9,9.1,2011.12.3,-4.1,-10.6,2011.12.17
48,108,서울,Jan.12,-2.8,1.3,8.4,2012.1.19,-6.3,-12.2,2012.1.23
49,108,서울,Feb.12,-2.0,3.0,12.1,2012.2.22,-6.0,-17.1,2012.2.2
50,108,서울,Mar.12,5.1,9.5,16.2,2012.3.29,1.5,-5.7,2012.3.12
51,108,서울,Apr.12,12.3,17.9,29.4,2012.4.30,7.8,0.6,2012.4.7
52,108,서울,May.12,19.7,25.1,29.3,2012.5.22,15.4,12.0,2012.5.18
53,108,서울,Jun.12,24.1,29.7,33.5,2012.6.19,20.0,16.3,2012.6.1
54,108,서울,Jul.12,25.4,29.0,33.2,2012.7.29,22.4,18.5,2012.7.7
55,108,서울,Aug.12,27.1,30.9,36.7,2012.8.5,23.9,18.7,2012.8.31
56,108,서울,Sep.12,21.0,25.0,29.5,2012.9.2,17.4,12.0,2012.9.30
57,108,서울,Oct.12,15.3,20.5,26.0,2012.10.3,11.0,2.8,2012.10.31
58,108,서울,Nov.12,5.5,9.5,15.7,2012.11.3,1.8,-3.0,2012.11.30
59,108,서울,Dec.12,-4.1,-0.5,8.3,2012.12.15,-7.4,-14.5,2012.12.26
60,108,서울,Jan.13,-3.4,0.3,11.5,2013.1.31,-6.6,-16.4,2013.1.3
61,108,서울,Feb.13,-1.2,2.8,13.9,2013.2.28,-4.9,-15.8,2013.2.8
62,108,서울,Mar.13,5.1,10.8,23.8,2013.3.9,0.7,-4.4,2013.3.2
63,108,서울,Apr.13,10.0,15.0,21.6,2013.4.28,5.7,1.3,2013.4.10
64,108,서울,May.13,18.2,23.6,31.8,2013.5.25,13.7,7.9,2013.5.6
65,108,서울,Jun.13,24.4,29.2,32.6,2013.6.29,20.5,16.3,2013.6.2
66,108,서울,Jul.13,25.5,28.3,31.3,2013.7.1,23.4,20.5,2013.7.3
67,108,서울,Aug.13,27.7,31.1,33.9,2013.8.21,24.8,21.1,2013.8.31
68,108,서울,Sep.13,21.8,25.9,31.1,2013.9.18,18.0,10.9,2013.9.27
69,108,서울,Oct.13,15.8,21.2,28.1,2013.10.5,10.9,4.3,2013.10.26
70,108,서울,Nov.13,6.2,10.7,20.7,2013.11.1,2.1,-6.4,2013.11.28
71,108,서울,Dec.13,-0.2,3.5,11.0,2013.12.7,-3.5,-9.8,2013.12.28
72,108,서울,Jan.14,-0.7,3.5,8.2,2014.1.29,-4.9,-10.5,2014.1.13
73,108,서울,Feb.14,1.9,6.6,16.4,2014.2.26,-1.8,-10.5,2014.2.4
74,108,서울,Mar.14,7.9,13.1,23.8,2014.3.28,3.5,-4.6,2014.3.7
75,108,서울,Apr.14,14.0,19.6,26.2,2014.4.24,9.4,2.3,2014.4.6
76,108,서울,May.14,18.9,25.3,33.3,2014.5.31,13.8,6.8,2014.5.5
77,108,서울,Jun.14,23.1,27.8,31.1,2014.6.6,19.7,17.3,2014.6.12
78,108,서울,Jul.14,26.1,30.6,34.4,2014.7.31,22.9,19.1,2014.7.24
79,108,서울,Aug.14,25.2,29.0,35.8,2014.8.2,22.1,18.3,2014.8.11
80,108,서울,Sep.14,22.1,27.0,31.3,2014.9.7,18.0,14.9,2014.9.19
81,108,서울,Oct.14,15.6,21.4,29.0,2014.10.12,10.7,2.7,2014.10.28
82,108,서울,Nov.14,9.0,13.8,22.9,2014.11.1,4.9,-3.1,2014.11.13
83,108,서울,Dec.14,-2.9,1.5,7.9,2014.12.1,-6.7,-13.2,2014.12.18
84,108,서울,Jan.15,-0.9,3.6,9.0,2015.1.15,-4.8,-9.8,2015.1.1
85,108,서울,Feb.15,1.0,6.0,13.0,2015.2.15,-2.9,-13.0,2015.2.9
86,108,서울,Mar.15,6.3,12.4,21.9,2015.3.20,1.0,-6.9,2015.3.10
87,108,서울,Apr.15,13.3,18.8,28.3,2015.4.30,8.4,3.5,2015.4.8
88,108,서울,May.15,18.9,24.9,32.2,2015.5.28,13.6,8.3,2015.5.5
89,108,서울,Jun.15,23.6,29.5,34.9,2015.6.10,18.9,15.6,2015.6.21
90,108,서울,Jul.15,25.8,30.0,36.0,2015.7.11,22.6,18.2,2015.7.4
91,108,서울,Aug.15,26.3,30.8,34.4,2015.8.7,22.8,18.9,2015.8.26
92,108,서울,Sep.15,22.4,28.1,31.0,2015.9.22,17.5,14.2,2015.9.27
93,108,서울,Oct.15,15.5,21.2,26.6,2015.10.17,10.8,1.1,2015.10.31
94,108,서울,Nov.15,8.9,12.7,21.0,2015.11.12,5.9,-7.3,2015.11.27
95,108,서울,Dec.15,1.6,6.0,12.2,2015.12.13,-2.1,-9.5,2015.12.28
96,108,서울,Jan.16,-3.2,1.1,9.5,2016.1.2,-6.8,-18.0,2016.1.24
97,108,서울,Feb.16,0.2,5.1,14.4,2016.2.13,-4.1,-10.0,2016.2.15
98,108,서울,Mar.16,7.0,12.6,21.4,2016.3.31,2.4,-7.5,2016.3.1
99,108,서울,Apr.16,14.1,20.3,29.6,2016.4.26,9.1,5.1,2016.4.4
100,108,서울,May.16,19.6,25.7,31.9,2016.5.19,14.1,8.9,2016.5.3
101,108,서울,Jun.16,23.6,28.7,32.2,2016.6.5,19.5,17.1,2016.6.1
102,108,서울,Jul.16,26.2,29.8,34.1,2016.7.22,23.3,19.8,2016.7.16
103,108,서울,Aug.16,28.0,32.6,36.6,2016.8.21,24.5,16.1,2016.8.31
104,108,서울,Sep.16,23.1,27.9,31.1,2016.9.5,19.3,14.3,2016.9.21
105,108,서울,Oct.16,16.1,21.3,29.0,2016.10.4,11.6,0.7,2016.10.31
106,108,서울,Nov.16,6.8,11.6,18.6,2016.11.19,2.8,-6.2,2016.11.24
107,108,서울,Dec.16,1.2,5.8,13.6,2016.12.20,-2.7,-9.8,2016.12.16
108,108,서울,Jan.17,-1.8,2.9,11.4,2017.1.6,-5.8,-12.6,2017.1.23
109,108,서울,Feb.17,-0.2,4.8,12.3,2017.2.28,-4.7,-9.3,2017.2.10
110,108,서울,Mar.17,6.3,12.3,18.9,2017.3.19,1.7,-5.3,2017.3.8
111,108,서울,Apr.17,13.9,20.0,27.8,2017.4.30,9.1,3.1,2017.4.2
112,108,서울,May.17,19.5,25.4,30.3,2017.5.30,14.4,10.0,2017.5.6
113,108,서울,Jun.17,23.3,28.8,34.1,2017.6.23,18.7,14.5,2017.6.6
114,108,서울,Jul.17,26.9,30.4,35.4,2017.7.25,24.3,21.9,2017.7.3
115,108,서울,Aug.17,25.9,29.7,35.3,2017.8.4,22.9,16.1,2017.8.30
116,108,서울,Sep.17,22.1,27.4,31.4,2017.9.26,17.5,11.2,2017.9.29
117,108,서울,Oct.17,16.4,22.5,29.4,2017.10.2,11.6,2.5,2017.10.30
118,108,서울,Nov.17,5.6,10.5,18.4,2017.11.7,1.3,-6.6,2017.11.19
119,108,서울,Dec.17,-1.9,2.2,8.7,2017.12.23,-5.7,-12.3,2017.12.12
120,108,서울,Jan.18,-4.0,0.1,8.7,2018.1.17,-7.3,-17.8,2018.1.26
121,108,서울,Feb.18,-1.6,3.3,10.4,2018.2.26,-5.9,-13.4,2018.2.7
122,108,서울,Mar.18,8.1,13.6,22.1,2018.3.14,3.8,-6.7,2018.3.2
123,108,서울,Apr.18,13.0,18.5,26.3,2018.4.20,8.1,0.1,2018.4.9
124,108,서울,May.18,18.2,23.3,29.6,2018.5.26,13.4,6.9,2018.5.3
125,108,서울,Jun.18,23.1,28.4,32.9,2018.6.25,18.9,16.3,2018.6.16
126,108,서울,Jul.18,27.8,32.1,38.3,2018.7.31,24.2,17.7,2018.7.8
127,108,서울,Aug.18,28.8,33.3,39.6,2018.8.1,25.2,20.2,2018.8.27
128,108,서울,Sep.18,21.5,26.0,30.9,2018.9.1,17.6,10.8,2018.9.25
129,108,서울,Oct.18,13.1,18.6,25.6,2018.10.4,8.5,0.7,2018.10.30
130,108,서울,Nov.18,7.8,13.2,19.4,2018.11.4,3.6,-3.1,2018.11.23
131,108,서울,Dec.18,-0.6,4.1,13.5,2018.12.3,-4.7,-14.4,2018.12.28
132,108,서울,Jan.19,-0.9,4.1,8.5,2019.1.19,-5.1,-10.1,2019.1.16
133,108,서울,Feb.19,1.0,6.0,14.5,2019.2.23,-3.2,-10.2,2019.2.8
134,108,서울,Mar.19,7.1,12.4,17.6,2019.3.26,2.7,-1.7,2019.3.14
135,108,서울,Apr.19,12.1,17.6,28.2,2019.4.22,7.2,0.3,2019.4.1
136,108,서울,May.19,19.4,25.6,33.4,2019.5.24,13.7,8.4,2019.5.7
137,108,서울,Jun.19,22.5,27.7,32.8,2019.6.25,18.1,14.1,2019.6.2
138,108,서울,Jul.19,25.9,30.1,36.1,2019.7.6,22.7,19.3,2019.7.10
139,108,서울,Aug.19,27.2,31.6,36.8,2019.8.6,23.6,18.5,2019.8.31
140,108,서울,Sep.19,22.6,27.1,30.5,2019.9.16,19.0,13.6,2019.9.19
141,108,서울,Oct.19,16.4,21.8,28.2,2019.10.1,11.8,4.7,2019.10.27
142,108,서울,Nov.19,7.6,12.9,22.1,2019.11.3,3.1,-4.6,2019.11.20
143,108,서울,Dec.19,1.4,5.3,12.9,2019.12.16,-2.6,-10.9,2019.12.31
144,108,서울,Jan.20,1.6,5.9,11.9,2020.1.26,-1.7,-6.5,2020.1.1
145,108,서울,Feb.20,2.5,7.2,15.6,2020.2.15,-1.3,-11.8,2020.2.6
146,108,서울,Mar.20,7.7,13.3,20.6,2020.3.26,2.6,-2.8,2020.3.5
147,108,서울,Apr.20,11.1,16.6,23.8,2020.4.16,6.3,1.9,2020.4.5
148,108,서울,May.20,18.0,23.3,30.0,2020.5.30,13.7,9.2,2020.5.20
149,108,서울,Jun.20,23.9,29.0,35.4,2020.6.22,19.9,14.8,2020.6.2
150,108,서울,Jul.20,24.1,28.0,32.9,2020.7.9,21.1,17.2,2020.7.14
151,108,서울,Aug.20,26.5,29.3,34.5,2020.8.26,24.4,21.5,2020.8.23
152,108,서울,Sep.20,21.4,25.6,29.5,2020.9.1,18.0,13.6,2020.9.21
153,108,서울,Oct.20,14.3,19.5,23.6,2020.10.1,9.6,3.2,2020.10.24
154,108,서울,Nov.20,8.0,12.6,20.0,2020.11.17,4.0,-3.6,2020.11.30
155,108,서울,Dec.20,-0.3,3.9,11.4,2020.12.28,-4.2,-12.9,2020.12.31
156,108,서울,Jan.21,-2.4,2.2,13.9,2021.1.25,-6.8,-18.6,2021.1.8
157,108,서울,Feb.21,2.7,7.9,17.4,2021.2.21,-2.2,-10.6,2021.2.18
158,108,서울,Mar.21,9.0,14.8,22.9,2021.3.31,4.3,-1.2,2021.3.3
159,108,서울,Apr.21,14.2,19.5,28.2,2021.4.21,9.5,3.1,2021.4.14
160,108,서울,May.21,17.1,21.9,30.8,2021.5.14,12.8,7.3,2021.5.2
161,108,서울,Jun.21,22.8,27.6,31.6,2021.6.9,18.9,13.3,2021.6.4
162,108,서울,Jul.21,28.1,32.2,36.5,2021.7.24,24.6,19.6,2021.7.3
163,108,서울,Aug.21,25.9,29.7,33.7,2021.8.5,22.8,18.1,2021.8.31
164,108,서울,Sep.21,22.6,26.9,30.3,2021.9.13,18.8,16.0,2021.9.30
165,108,서울,Oct.21,15.6,20.5,28.8,2021.10.3,11.6,1.3,2021.10.17
166,108,서울,Nov.21,8.2,13.1,21.3,2021.11.7,4.0,-3.7,2021.11.23
167,108,서울,Dec.21,NaN,NaN,13.3,2021.12.8,NaN,-11.2,2021.12.18

In [67]:
df.head()

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,108,서울,Jan.08,-1.7,1.9,7.3,2008.1.6,-5.0,-11.1,2008.1.17
1,108,서울,Feb.08,-1.2,3.2,10.5,2008.2.22,-4.9,-10.1,2008.2.13
2,108,서울,Mar.08,7.3,11.9,19.8,2008.3.21,3.7,-1.7,2008.3.5
3,108,서울,Apr.08,14.1,19.5,28.0,2008.4.19,9.3,3.8,2008.4.4
4,108,서울,May.08,17.7,22.7,28.5,2008.5.29,13.1,8.1,2008.5.14

In [68]:
df.head(10)

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,108,서울,Jan.08,-1.7,1.9,7.3,2008.1.6,-5.0,-11.1,2008.1.17
1,108,서울,Feb.08,-1.2,3.2,10.5,2008.2.22,-4.9,-10.1,2008.2.13
2,108,서울,Mar.08,7.3,11.9,19.8,2008.3.21,3.7,-1.7,2008.3.5
3,108,서울,Apr.08,14.1,19.5,28.0,2008.4.19,9.3,3.8,2008.4.4
4,108,서울,May.08,17.7,22.7,28.5,2008.5.29,13.1,8.1,2008.5.14
5,108,서울,Jun.08,21.5,26.1,29.6,2008.6.20,17.6,13.7,2008.6.5
6,108,서울,Jul.08,25.1,28.4,32.9,2008.7.9,22.6,20.2,2008.7.1
7,108,서울,Aug.08,25.3,29.5,35.4,2008.8.8,21.8,16.3,2008.8.22
8,108,서울,Sep.08,22.0,26.9,32.0,2008.9.17,18.0,10.3,2008.9.27
9,108,서울,Oct.08,16.1,21.0,28.3,2008.10.18,12.1,5.6,2008.10.28

In [69]:
df.tail()

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
163,108,서울,Aug.21,25.9,29.7,33.7,2021.8.5,22.8,18.1,2021.8.31
164,108,서울,Sep.21,22.6,26.9,30.3,2021.9.13,18.8,16.0,2021.9.30
165,108,서울,Oct.21,15.6,20.5,28.8,2021.10.3,11.6,1.3,2021.10.17
166,108,서울,Nov.21,8.2,13.1,21.3,2021.11.7,4.0,-3.7,2021.11.23
167,108,서울,Dec.21,NaN,NaN,13.3,2021.12.8,NaN,-11.2,2021.12.18

In [72]:
# DataFrame 을 행(row)으로 접근 : 슬라이싱으로 행 추출
# df[start 행번호 : end 행번호+1 : step]

df[:5]

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,108,서울,Jan.08,-1.7,1.9,7.3,2008.1.6,-5.0,-11.1,2008.1.17
1,108,서울,Feb.08,-1.2,3.2,10.5,2008.2.22,-4.9,-10.1,2008.2.13
2,108,서울,Mar.08,7.3,11.9,19.8,2008.3.21,3.7,-1.7,2008.3.5
3,108,서울,Apr.08,14.1,19.5,28.0,2008.4.19,9.3,3.8,2008.4.4
4,108,서울,May.08,17.7,22.7,28.5,2008.5.29,13.1,8.1,2008.5.14

In [73]:
df[11:16]

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
11,108,서울,Dec.08,1.1,5.0,13.3,2008.12.10,-2.7,-13.1,2008.12.6
12,108,서울,Jan.09,-2.0,2.3,12.2,2009.1.30,-5.5,-11.4,2009.1.24
13,108,서울,Feb.09,2.9,6.8,16.1,2009.2.13,-0.6,-8.6,2009.2.17
14,108,서울,Mar.09,6.0,10.6,22.2,2009.3.21,1.8,-3.3,2009.3.14
15,108,서울,Apr.09,12.7,18.0,25.8,2009.4.19,8.1,2.2,2009.4.1

In [74]:
df[::3]

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,108,서울,Jan.08,-1.7,1.9,7.3,2008.1.6,-5.0,-11.1,2008.1.17
3,108,서울,Apr.08,14.1,19.5,28.0,2008.4.19,9.3,3.8,2008.4.4
6,108,서울,Jul.08,25.1,28.4,32.9,2008.7.9,22.6,20.2,2008.7.1
9,108,서울,Oct.08,16.1,21.0,28.3,2008.10.18,12.1,5.6,2008.10.28
12,108,서울,Jan.09,-2.0,2.3,12.2,2009.1.30,-5.5,-11.4,2009.1.24
15,108,서울,Apr.09,12.7,18.0,25.8,2009.4.19,8.1,2.2,2009.4.1
18,108,서울,Jul.09,24.3,28.2,32.4,2009.7.16,21.0,18.7,2009.7.10
21,108,서울,Oct.09,16.0,20.9,26.4,2009.10.1,11.7,6.2,2009.10.20
24,108,서울,Jan.10,-4.5,-0.7,8.4,2010.1.20,-8.1,-15.3,2010.1.13
27,108,서울,Apr.10,9.5,14.0,20.7,2010.4.20,5.6,1.1,2010.4.3
30,108,서울,Jul.10,25.8,29.3,32.3,2010.7.20,23.1,21.0,2010.7.12
33,108,서울,Oct.10,14.5,19.3,24.2,2010.10.9,10.4,0.7,2010.10.27
36,108,서울,Jan.11,-7.2,-3.4,0.3,2011.1.14,-10.5,-17.8,2011.1.16
39,108,서울,Apr.11,10.7,15.6,19.0,2011.4.15,6.8,4.3,2011.4.1
42,108,서울,Jul.11,24.6,28.0,34.1,2011.7.18,22.0,18.9,2011.7.4
45,108,서울,Oct.11,14.2,19.3,23.4,2011.10.13,9.7,3.1,2011.10.26
48,108,서울,Jan.12,-2.8,1.3,8.4,2012.1.19,-6.3,-12.2,2012.1.23
51,108,서울,Apr.12,12.3,17.9,29.4,2012.4.30,7.8,0.6,2012.4.7
54,108,서울,Jul.12,25.4,29.0,33.2,2012.7.29,22.4,18.5,2012.7.7
57,108,서울,Oct.12,15.3,20.5,26.0,2012.10.3,11.0,2.8,2012.10.31
60,108,서울,Jan.13,-3.4,0.3,11.5,2013.1.31,-6.6,-16.4,2013.1.3
63,108,서울,Apr.13,10.0,15.0,21.6,2013.4.28,5.7,1.3,2013.4.10
66,108,서울,Jul.13,25.5,28.3,31.3,2013.7.1,23.4,20.5,2013.7.3
69,108,서울,Oct.13,15.8,21.2,28.1,2013.10.5,10.9,4.3,2013.10.26
72,108,서울,Jan.14,-0.7,3.5,8.2,2014.1.29,-4.9,-10.5,2014.1.13
75,108,서울,Apr.14,14.0,19.6,26.2,2014.4.24,9.4,2.3,2014.4.6
78,108,서울,Jul.14,26.1,30.6,34.4,2014.7.31,22.9,19.1,2014.7.24
81,108,서울,Oct.14,15.6,21.4,29.0,2014.10.12,10.7,2.7,2014.10.28
84,108,서울,Jan.15,-0.9,3.6,9.0,2015.1.15,-4.8,-9.8,2015.1.1
87,108,서울,Apr.15,13.3,18.8,28.3,2015.4.30,8.4,3.5,2015.4.8
90,108,서울,Jul.15,25.8,30.0,36.0,2015.7.11,22.6,18.2,2015.7.4
93,108,서울,Oct.15,15.5,21.2,26.6,2015.10.17,10.8,1.1,2015.10.31
96,108,서울,Jan.16,-3.2,1.1,9.5,2016.1.2,-6.8,-18.0,2016.1.24
99,108,서울,Apr.16,14.1,20.3,29.6,2016.4.26,9.1,5.1,2016.4.4
102,108,서울,Jul.16,26.2,29.8,34.1,2016.7.22,23.3,19.8,2016.7.16
105,108,서울,Oct.16,16.1,21.3,29.0,2016.10.4,11.6,0.7,2016.10.31
108,108,서울,Jan.17,-1.8,2.9,11.4,2017.1.6,-5.8,-12.6,2017.1.23
111,108,서울,Apr.17,13.9,20.0,27.8,2017.4.30,9.1,3.1,2017.4.2
114,108,서울,Jul.17,26.9,30.4,35.4,2017.7.25,24.3,21.9,2017.7.3
117,108,서울,Oct.17,16.4,22.5,29.4,2017.10.2,11.6,2.5,2017.10.30
120,108,서울,Jan.18,-4.0,0.1,8.7,2018.1.17,-7.3,-17.8,2018.1.26
123,108,서울,Apr.18,13.0,18.5,26.3,2018.4.20,8.1,0.1,2018.4.9
126,108,서울,Jul.18,27.8,32.1,38.3,2018.7.31,24.2,17.7,2018.7.8
129,108,서울,Oct.18,13.1,18.6,25.6,2018.10.4,8.5,0.7,2018.10.30
132,108,서울,Jan.19,-0.9,4.1,8.5,2019.1.19,-5.1,-10.1,2019.1.16
135,108,서울,Apr.19,12.1,17.6,28.2,2019.4.22,7.2,0.3,2019.4.1
138,108,서울,Jul.19,25.9,30.1,36.1,2019.7.6,22.7,19.3,2019.7.10
141,108,서울,Oct.19,16.4,21.8,28.2,2019.10.1,11.8,4.7,2019.10.27
144,108,서울,Jan.20,1.6,5.9,11.9,2020.1.26,-1.7,-6.5,2020.1.1
147,108,서울,Apr.20,11.1,16.6,23.8,2020.4.16,6.3,1.9,2020.4.5
150,108,서울,Jul.20,24.1,28.0,32.9,2020.7.9,21.1,17.2,2020.7.14
153,108,서울,Oct.20,14.3,19.5,23.6,2020.10.1,9.6,3.2,2020.10.24
156,108,서울,Jan.21,-2.4,2.2,13.9,2021.1.25,-6.8,-18.6,2021.1.8
159,108,서울,Apr.21,14.2,19.5,28.2,2021.4.21,9.5,3.1,2021.4.14
162,108,서울,Jul.21,28.1,32.2,36.5,2021.7.24,24.6,19.6,2021.7.3
165,108,서울,Oct.21,15.6,20.5,28.8,2021.10.3,11.6,1.3,2021.10.17

In [77]:
df[::-1]

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
167,108,서울,Dec.21,NaN,NaN,13.3,2021.12.8,NaN,-11.2,2021.12.18
166,108,서울,Nov.21,8.2,13.1,21.3,2021.11.7,4.0,-3.7,2021.11.23
165,108,서울,Oct.21,15.6,20.5,28.8,2021.10.3,11.6,1.3,2021.10.17
164,108,서울,Sep.21,22.6,26.9,30.3,2021.9.13,18.8,16.0,2021.9.30
163,108,서울,Aug.21,25.9,29.7,33.7,2021.8.5,22.8,18.1,2021.8.31
162,108,서울,Jul.21,28.1,32.2,36.5,2021.7.24,24.6,19.6,2021.7.3
161,108,서울,Jun.21,22.8,27.6,31.6,2021.6.9,18.9,13.3,2021.6.4
160,108,서울,May.21,17.1,21.9,30.8,2021.5.14,12.8,7.3,2021.5.2
159,108,서울,Apr.21,14.2,19.5,28.2,2021.4.21,9.5,3.1,2021.4.14
158,108,서울,Mar.21,9.0,14.8,22.9,2021.3.31,4.3,-1.2,2021.3.3
157,108,서울,Feb.21,2.7,7.9,17.4,2021.2.21,-2.2,-10.6,2021.2.18
156,108,서울,Jan.21,-2.4,2.2,13.9,2021.1.25,-6.8,-18.6,2021.1.8
155,108,서울,Dec.20,-0.3,3.9,11.4,2020.12.28,-4.2,-12.9,2020.12.31
154,108,서울,Nov.20,8.0,12.6,20.0,2020.11.17,4.0,-3.6,2020.11.30
153,108,서울,Oct.20,14.3,19.5,23.6,2020.10.1,9.6,3.2,2020.10.24
152,108,서울,Sep.20,21.4,25.6,29.5,2020.9.1,18.0,13.6,2020.9.21
151,108,서울,Aug.20,26.5,29.3,34.5,2020.8.26,24.4,21.5,2020.8.23
150,108,서울,Jul.20,24.1,28.0,32.9,2020.7.9,21.1,17.2,2020.7.14
149,108,서울,Jun.20,23.9,29.0,35.4,2020.6.22,19.9,14.8,2020.6.2
148,108,서울,May.20,18.0,23.3,30.0,2020.5.30,13.7,9.2,2020.5.20
147,108,서울,Apr.20,11.1,16.6,23.8,2020.4.16,6.3,1.9,2020.4.5
146,108,서울,Mar.20,7.7,13.3,20.6,2020.3.26,2.6,-2.8,2020.3.5
145,108,서울,Feb.20,2.5,7.2,15.6,2020.2.15,-1.3,-11.8,2020.2.6
144,108,서울,Jan.20,1.6,5.9,11.9,2020.1.26,-1.7,-6.5,2020.1.1
143,108,서울,Dec.19,1.4,5.3,12.9,2019.12.16,-2.6,-10.9,2019.12.31
142,108,서울,Nov.19,7.6,12.9,22.1,2019.11.3,3.1,-4.6,2019.11.20
141,108,서울,Oct.19,16.4,21.8,28.2,2019.10.1,11.8,4.7,2019.10.27
140,108,서울,Sep.19,22.6,27.1,30.5,2019.9.16,19.0,13.6,2019.9.19
139,108,서울,Aug.19,27.2,31.6,36.8,2019.8.6,23.6,18.5,2019.8.31
138,108,서울,Jul.19,25.9,30.1,36.1,2019.7.6,22.7,19.3,2019.7.10
137,108,서울,Jun.19,22.5,27.7,32.8,2019.6.25,18.1,14.1,2019.6.2
136,108,서울,May.19,19.4,25.6,33.4,2019.5.24,13.7,8.4,2019.5.7
135,108,서울,Apr.19,12.1,17.6,28.2,2019.4.22,7.2,0.3,2019.4.1
134,108,서울,Mar.19,7.1,12.4,17.6,2019.3.26,2.7,-1.7,2019.3.14
133,108,서울,Feb.19,1.0,6.0,14.5,2019.2.23,-3.2,-10.2,2019.2.8
132,108,서울,Jan.19,-0.9,4.1,8.5,2019.1.19,-5.1,-10.1,2019.1.16
131,108,서울,Dec.18,-0.6,4.1,13.5,2018.12.3,-4.7,-14.4,2018.12.28
130,108,서울,Nov.18,7.8,13.2,19.4,2018.11.4,3.6,-3.1,2018.11.23
129,108,서울,Oct.18,13.1,18.6,25.6,2018.10.4,8.5,0.7,2018.10.30
128,108,서울,Sep.18,21.5,26.0,30.9,2018.9.1,17.6,10.8,2018.9.25
127,108,서울,Aug.18,28.8,33.3,39.6,2018.8.1,25.2,20.2,2018.8.27
126,108,서울,Jul.18,27.8,32.1,38.3,2018.7.31,24.2,17.7,2018.7.8
125,108,서울,Jun.18,23.1,28.4,32.9,2018.6.25,18.9,16.3,2018.6.16
124,108,서울,May.18,18.2,23.3,29.6,2018.5.26,13.4,6.9,2018.5.3
123,108,서울,Apr.18,13.0,18.5,26.3,2018.4.20,8.1,0.1,2018.4.9
122,108,서울,Mar.18,8.1,13.6,22.1,2018.3.14,3.8,-6.7,2018.3.2
121,108,서울,Feb.18,-1.6,3.3,10.4,2018.2.26,-5.9,-13.4,2018.2.7
120,108,서울,Jan.18,-4.0,0.1,8.7,2018.1.17,-7.3,-17.8,2018.1.26
119,108,서울,Dec.17,-1.9,2.2,8.7,2017.12.23,-5.7,-12.3,2017.12.12
118,108,서울,Nov.17,5.6,10.5,18.4,2017.11.7,1.3,-6.6,2017.11.19
117,108,서울,Oct.17,16.4,22.5,29.4,2017.10.2,11.6,2.5,2017.10.30
116,108,서울,Sep.17,22.1,27.4,31.4,2017.9.26,17.5,11.2,2017.9.29
115,108,서울,Aug.17,25.9,29.7,35.3,2017.8.4,22.9,16.1,2017.8.30
114,108,서울,Jul.17,26.9,30.4,35.4,2017.7.25,24.3,21.9,2017.7.3
113,108,서울,Jun.17,23.3,28.8,34.1,2017.6.23,18.7,14.5,2017.6.6
112,108,서울,May.17,19.5,25.4,30.3,2017.5.30,14.4,10.0,2017.5.6
111,108,서울,Apr.17,13.9,20.0,27.8,2017.4.30,9.1,3.1,2017.4.2
110,108,서울,Mar.17,6.3,12.3,18.9,2017.3.19,1.7,-5.3,2017.3.8
109,108,서울,Feb.17,-0.2,4.8,12.3,2017.2.28,-4.7,-9.3,2017.2.10
108,108,서울,Jan.17,-1.8,2.9,11.4,2017.1.6,-5.8,-12.6,2017.1.23
107,108,서울,Dec.16,1.2,5.8,13.6,2016.12.20,-2.7,-9.8,2016.12.16
106,108,서울,Nov.16,6.8,11.6,18.6,2016.11.19,2.8,-6.2,2016.11.24
105,108,서울,Oct.16,16.1,21.3,29.0,2016.10.4,11.6,0.7,2016.10.31
104,108,서울,Sep.16,23.1,27.9,31.1,2016.9.5,19.3,14.3,2016.9.21
103,108,서울,Aug.16,28.0,32.6,36.6,2016.8.21,24.5,16.1,2016.8.31
102,108,서울,Jul.16,26.2,29.8,34.1,2016.7.22,23.3,19.8,2016.7.16
101,108,서울,Jun.16,23.6,28.7,32.2,2016.6.5,19.5,17.1,2016.6.1
100,108,서울,May.16,19.6,25.7,31.9,2016.5.19,14.1,8.9,2016.5.3
99,108,서울,Apr.16,14.1,20.3,29.6,2016.4.26,9.1,5.1,2016.4.4
98,108,서울,Mar.16,7.0,12.6,21.4,2016.3.31,2.4,-7.5,2016.3.1
97,108,서울,Feb.16,0.2,5.1,14.4,2016.2.13,-4.1,-10.0,2016.2.15
96,108,서울,Jan.16,-3.2,1.1,9.5,2016.1.2,-6.8,-18.0,2016.1.24
95,108,서울,Dec.15,1.6,6.0,12.2,2015.12.13,-2.1,-9.5,2015.12.28
94,108,서울,Nov.15,8.9,12.7,21.0,2015.11.12,5.9,-7.3,2015.11.27
93,108,서울,Oct.15,15.5,21.2,26.6,2015.10.17,10.8,1.1,2015.10.31
92,108,서울,Sep.15,22.4,28.1,31.0,2015.9.22,17.5,14.2,2015.9.27
91,108,서울,Aug.15,26.3,30.8,34.4,2015.8.7,22.8,18.9,2015.8.26
90,108,서울,Jul.15,25.8,30.0,36.0,2015.7.11,22.6,18.2,2015.7.4
89,108,서울,Jun.15,23.6,29.5,34.9,2015.6.10,18.9,15.6,2015.6.21
88,108,서울,May.15,18.9,24.9,32.2,2015.5.28,13.6,8.3,2015.5.5
87,108,서울,Apr.15,13.3,18.8,28.3,2015.4.30,8.4,3.5,2015.4.8
86,108,서울,Mar.15,6.3,12.4,21.9,2015.3.20,1.0,-6.9,2015.3.10
85,108,서울,Feb.15,1.0,6.0,13.0,2015.2.15,-2.9,-13.0,2015.2.9
84,108,서울,Jan.15,-0.9,3.6,9.0,2015.1.15,-4.8,-9.8,2015.1.1
83,108,서울,Dec.14,-2.9,1.5,7.9,2014.12.1,-6.7,-13.2,2014.12.18
82,108,서울,Nov.14,9.0,13.8,22.9,2014.11.1,4.9,-3.1,2014.11.13
81,108,서울,Oct.14,15.6,21.4,29.0,2014.10.12,10.7,2.7,2014.10.28
80,108,서울,Sep.14,22.1,27.0,31.3,2014.9.7,18.0,14.9,2014.9.19
79,108,서울,Aug.14,25.2,29.0,35.8,2014.8.2,22.1,18.3,2014.8.11
78,108,서울,Jul.14,26.1,30.6,34.4,2014.7.31,22.9,19.1,2014.7.24
77,108,서울,Jun.14,23.1,27.8,31.1,2014.6.6,19.7,17.3,2014.6.12
76,108,서울,May.14,18.9,25.3,33.3,2014.5.31,13.8,6.8,2014.5.5
75,108,서울,Apr.14,14.0,19.6,26.2,2014.4.24,9.4,2.3,2014.4.6
74,108,서울,Mar.14,7.9,13.1,23.8,2014.3.28,3.5,-4.6,2014.3.7
73,108,서울,Feb.14,1.9,6.6,16.4,2014.2.26,-1.8,-10.5,2014.2.4
72,108,서울,Jan.14,-0.7,3.5,8.2,2014.1.29,-4.9,-10.5,2014.1.13
71,108,서울,Dec.13,-0.2,3.5,11.0,2013.12.7,-3.5,-9.8,2013.12.28
70,108,서울,Nov.13,6.2,10.7,20.7,2013.11.1,2.1,-6.4,2013.11.28
69,108,서울,Oct.13,15.8,21.2,28.1,2013.10.5,10.9,4.3,2013.10.26
68,108,서울,Sep.13,21.8,25.9,31.1,2013.9.18,18.0,10.9,2013.9.27
67,108,서울,Aug.13,27.7,31.1,33.9,2013.8.21,24.8,21.1,2013.8.31
66,108,서울,Jul.13,25.5,28.3,31.3,2013.7.1,23.4,20.5,2013.7.3
65,108,서울,Jun.13,24.4,29.2,32.6,2013.6.29,20.5,16.3,2013.6.2
64,108,서울,May.13,18.2,23.6,31.8,2013.5.25,13.7,7.9,2013.5.6
63,108,서울,Apr.13,10.0,15.0,21.6,2013.4.28,5.7,1.3,2013.4.10
62,108,서울,Mar.13,5.1,10.8,23.8,2013.3.9,0.7,-4.4,2013.3.2
61,108,서울,Feb.13,-1.2,2.8,13.9,2013.2.28,-4.9,-15.8,2013.2.8
60,108,서울,Jan.13,-3.4,0.3,11.5,2013.1.31,-6.6,-16.4,2013.1.3
59,108,서울,Dec.12,-4.1,-0.5,8.3,2012.12.15,-7.4,-14.5,2012.12.26
58,108,서울,Nov.12,5.5,9.5,15.7,2012.11.3,1.8,-3.0,2012.11.30
57,108,서울,Oct.12,15.3,20.5,26.0,2012.10.3,11.0,2.8,2012.10.31
56,108,서울,Sep.12,21.0,25.0,29.5,2012.9.2,17.4,12.0,2012.9.30
55,108,서울,Aug.12,27.1,30.9,36.7,2012.8.5,23.9,18.7,2012.8.31
54,108,서울,Jul.12,25.4,29.0,33.2,2012.7.29,22.4,18.5,2012.7.7
53,108,서울,Jun.12,24.1,29.7,33.5,2012.6.19,20.0,16.3,2012.6.1
52,108,서울,May.12,19.7,25.1,29.3,2012.5.22,15.4,12.0,2012.5.18
51,108,서울,Apr.12,12.3,17.9,29.4,2012.4.30,7.8,0.6,2012.4.7
50,108,서울,Mar.12,5.1,9.5,16.2,2012.3.29,1.5,-5.7,2012.3.12
49,108,서울,Feb.12,-2.0,3.0,12.1,2012.2.22,-6.0,-17.1,2012.2.2
48,108,서울,Jan.12,-2.8,1.3,8.4,2012.1.19,-6.3,-12.2,2012.1.23
47,108,서울,Dec.11,-0.9,2.9,9.1,2011.12.3,-4.1,-10.6,2011.12.17
46,108,서울,Nov.11,10.7,14.7,25.9,2011.11.5,7.2,-5.5,2011.11.24
45,108,서울,Oct.11,14.2,19.3,23.4,2011.10.13,9.7,3.1,2011.10.26
44,108,서울,Sep.11,21.8,26.6,32.4,2011.9.2,17.7,10.3,2011.9.30
43,108,서울,Aug.11,25.8,29.5,34.1,2011.8.5,23.0,18.1,2011.8.23
42,108,서울,Jul.11,24.6,28.0,34.1,2011.7.18,22.0,18.9,2011.7.4
41,108,서울,Jun.11,22.0,26.6,32.9,2011.6.19,18.4,14.4,2011.6.3
40,108,서울,May.11,17.9,23.0,31.2,2011.5.29,13.6,8.5,2011.5.2
39,108,서울,Apr.11,10.7,15.6,19.0,2011.4.15,6.8,4.3,2011.4.1
38,108,서울,Mar.11,3.6,8.3,16.8,2011.3.31,-0.1,-5.5,2011.3.3
37,108,서울,Feb.11,1.2,5.9,13.2,2011.2.26,-2.5,-9.2,2011.2.12
36,108,서울,Jan.11,-7.2,-3.4,0.3,2011.1.14,-10.5,-17.8,2011.1.16
35,108,서울,Dec.10,-1.3,3.1,13.5,2010.12.2,-5.1,-15.1,2010.12.24
34,108,서울,Nov.10,6.5,11.3,17.4,2010.11.13,2.5,-5.2,2010.11.28
33,108,서울,Oct.10,14.5,19.3,24.2,2010.10.9,10.4,0.7,2010.10.27
32,108,서울,Sep.10,21.8,26.0,31.4,2010.9.1,18.5,8.4,2010.9.30
31,108,서울,Aug.10,26.5,30.0,33.8,2010.8.5,23.8,19.9,2010.8.25
30,108,서울,Jul.10,25.8,29.3,32.3,2010.7.20,23.1,21.0,2010.7.12
29,108,서울,Jun.10,23.4,28.2,32.7,2010.6.10,19.3,12.1,2010.6.1
28,108,서울,May.10,17.2,22.0,28.6,2010.5.21,13.0,5.8,2010.5.1
27,108,서울,Apr.10,9.5,14.0,20.7,2010.4.20,5.6,1.1,2010.4.3
26,108,서울,Mar.10,4.3,8.1,14.2,2010.3.30,0.5,-4.0,2010.3.10
25,108,서울,Feb.10,1.4,4.9,17.9,2010.2.24,-1.7,-10.8,2010.2.3
24,108,서울,Jan.10,-4.5,-0.7,8.4,2010.1.20,-8.1,-15.3,2010.1.13
23,108,서울,Dec.09,-1.0,2.5,10.1,2009.12.1,-4.2,-12.9,2009.12.31
22,108,서울,Nov.09,6.9,10.4,21.8,2009.11.9,3.7,-4.3,2009.11.18
21,108,서울,Oct.09,16.0,20.9,26.4,2009.10.1,11.7,6.2,2009.10.20
20,108,서울,Sep.09,21.8,26.3,29.9,2009.9.6,17.7,14.4,2009.9.22
19,108,서울,Aug.09,25.7,29.5,34.4,2009.8.16,22.4,16.4,2009.8.31
18,108,서울,Jul.09,24.3,28.2,32.4,2009.7.16,21.0,18.7,2009.7.10
17,108,서울,Jun.09,22.4,26.7,32.4,2009.6.27,18.8,14.3,2009.6.1
16,108,서울,May.09,19.1,24.3,31.0,2009.5.28,14.6,9.8,2009.5.5
15,108,서울,Apr.09,12.7,18.0,25.8,2009.4.19,8.1,2.2,2009.4.1
14,108,서울,Mar.09,6.0,10.6,22.2,2009.3.21,1.8,-3.3,2009.3.14
13,108,서울,Feb.09,2.9,6.8,16.1,2009.2.13,-0.6,-8.6,2009.2.17
12,108,서울,Jan.09,-2.0,2.3,12.2,2009.1.30,-5.5,-11.4,2009.1.24
11,108,서울,Dec.08,1.1,5.0,13.3,2008.12.10,-2.7,-13.1,2008.12.6
10,108,서울,Nov.08,7.6,11.7,18.4,2008.11.6,3.8,-7.2,2008.11.19
9,108,서울,Oct.08,16.1,21.0,28.3,2008.10.18,12.1,5.6,2008.10.28
8,108,서울,Sep.08,22.0,26.9,32.0,2008.9.17,18.0,10.3,2008.9.27
7,108,서울,Aug.08,25.3,29.5,35.4,2008.8.8,21.8,16.3,2008.8.22
6,108,서울,Jul.08,25.1,28.4,32.9,2008.7.9,22.6,20.2,2008.7.1
5,108,서울,Jun.08,21.5,26.1,29.6,2008.6.20,17.6,13.7,2008.6.5
4,108,서울,May.08,17.7,22.7,28.5,2008.5.29,13.1,8.1,2008.5.14
3,108,서울,Apr.08,14.1,19.5,28.0,2008.4.19,9.3,3.8,2008.4.4
2,108,서울,Mar.08,7.3,11.9,19.8,2008.3.21,3.7,-1.7,2008.3.5
1,108,서울,Feb.08,-1.2,3.2,10.5,2008.2.22,-4.9,-10.1,2008.2.13
0,108,서울,Jan.08,-1.7,1.9,7.3,2008.1.6,-5.0,-11.1,2008.1.17

In [78]:
df[0:1]

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,108,서울,Jan.08,-1.7,1.9,7.3,2008.1.6,-5.0,-11.1,2008.1.17

In [81]:
# DataFrame 을 열(column)으로 접근

print(df.columns)

Index(['\t\t지점번호', '지점명', '일시', '평균기온(℃)', '평균최고기온(℃)', '최고기온(℃)', '\t최고기온일자',
       '평균최저기온(℃)', '최저기온(℃)', '최저기온일자'],
      dtype='object')

In [82]:
len(df.columns)

10

In [83]:
df['평균최고기온(℃)']

0       1.9
1       3.2
2      11.9
3      19.5
4      22.7
5      26.1
6      28.4
7      29.5
8      26.9
9      21.0
10     11.7
11      5.0
12      2.3
13      6.8
14     10.6
15     18.0
16     24.3
17     26.7
18     28.2
19     29.5
20     26.3
21     20.9
22     10.4
23      2.5
24     -0.7
25      4.9
26      8.1
27     14.0
28     22.0
29     28.2
30     29.3
31     30.0
32     26.0
33     19.3
34     11.3
35      3.1
36     -3.4
37      5.9
38      8.3
39     15.6
40     23.0
41     26.6
42     28.0
43     29.5
44     26.6
45     19.3
46     14.7
47      2.9
48      1.3
49      3.0
50      9.5
51     17.9
52     25.1
53     29.7
54     29.0
55     30.9
56     25.0
57     20.5
58      9.5
59     -0.5
60      0.3
61      2.8
62     10.8
63     15.0
64     23.6
65     29.2
66     28.3
67     31.1
68     25.9
69     21.2
70     10.7
71      3.5
72      3.5
73      6.6
74     13.1
75     19.6
76     25.3
77     27.8
78     30.6
79     29.0
80     27.0
81     21.4
82     13.8
83      1.5
84      3.6
85      6.0
86     12.4
87     18.8
88     24.9
89     29.5
90     30.0
91     30.8
92     28.1
93     21.2
94     12.7
95      6.0
96      1.1
97      5.1
98     12.6
99     20.3
100    25.7
101    28.7
102    29.8
103    32.6
104    27.9
105    21.3
106    11.6
107     5.8
108     2.9
109     4.8
110    12.3
111    20.0
112    25.4
113    28.8
114    30.4
115    29.7
116    27.4
117    22.5
118    10.5
119     2.2
120     0.1
121     3.3
122    13.6
123    18.5
124    23.3
125    28.4
126    32.1
127    33.3
128    26.0
129    18.6
130    13.2
131     4.1
132     4.1
133     6.0
134    12.4
135    17.6
136    25.6
137    27.7
138    30.1
139    31.6
140    27.1
141    21.8
142    12.9
143     5.3
144     5.9
145     7.2
146    13.3
147    16.6
148    23.3
149    29.0
150    28.0
151    29.3
152    25.6
153    19.5
154    12.6
155     3.9
156     2.2
157     7.9
158    14.8
159    19.5
160    21.9
161    27.6
162    32.2
163    29.7
164    26.9
165    20.5
166    13.1
167     NaN
Name: 평균최고기온(℃), dtype: float64

In [84]:
df.columns[0]

'\t\t지점번호'

In [100]:
df[df.columns[-1]]

0       2008.1.17
1       2008.2.13
2        2008.3.5
3        2008.4.4
4       2008.5.14
          ...
163     2021.8.31
164     2021.9.30
165    2021.10.17
166    2021.11.23
167    2021.12.18
Name: 최저기온일자, Length: 168, dtype: object

In [91]:
df[df.columns[0]][0] # 지점 번호의 첫번째 데이터 추출

108

In [92]:
df['최저기온일자'][0]

'2008.1.17'

In [93]:
# 슬라이싱

df[df.columns[2]][2:6]

2    Mar.08
3    Apr.08
4    May.08
5    Jun.08
Name: 일시, dtype: object

In [99]:
df[df.columns[2]][:-1]

0      Jan.08
1      Feb.08
2      Mar.08
3      Apr.08
4      May.08
        ...
162    Jul.21
163    Aug.21
164    Sep.21
165    Oct.21
166    Nov.21
Name: 일시, Length: 167, dtype: object

In [98]:
df[df.columns[2]][::3]

0      Jan.08
3      Apr.08
6      Jul.08
9      Oct.08
12     Jan.09
        ...
153    Oct.20
156    Jan.21
159    Apr.21
162    Jul.21
165    Oct.21
Name: 일시, Length: 56, dtype: object

In [96]:
df[df.columns[2]][-1:]

167    Dec.21
Name: 일시, dtype: object

In [101]:
df[df.columns[2]][::-1]

167    Dec.21
166    Nov.21
165    Oct.21
164    Sep.21
163    Aug.21
        ...
4      May.08
3      Apr.08
2      Mar.08
1      Feb.08
0      Jan.08
Name: 일시, Length: 168, dtype: object

In [102]:
# 여러 개의 컬럼을 가져오기 : 여러개의 칼럼명을 리스트로 만들어서 인덱싱에 사용

df.columns

Index(['\t\t지점번호', '지점명', '일시', '평균기온(℃)', '평균최고기온(℃)', '최고기온(℃)', '\t최고기온일자',
       '평균최저기온(℃)', '최저기온(℃)', '최저기온일자'],
      dtype='object')

In [103]:
df[['평균기온(℃)', '평균최고기온(℃)', '최고기온(℃)']]

     평균기온(℃)  평균최고기온(℃)  최고기온(℃)
0       -1.7        1.9      7.3
1       -1.2        3.2     10.5
2        7.3       11.9     19.8
3       14.1       19.5     28.0
4       17.7       22.7     28.5
..       ...        ...      ...
163     25.9       29.7     33.7
164     22.6       26.9     30.3
165     15.6       20.5     28.8
166      8.2       13.1     21.3
167      NaN        NaN     13.3

[168 rows x 3 columns]

In [104]:
df[[df.columns[3],df.columns[4],df.columns[5]]]

     평균기온(℃)  평균최고기온(℃)  최고기온(℃)
0       -1.7        1.9      7.3
1       -1.2        3.2     10.5
2        7.3       11.9     19.8
3       14.1       19.5     28.0
4       17.7       22.7     28.5
..       ...        ...      ...
163     25.9       29.7     33.7
164     22.6       26.9     30.3
165     15.6       20.5     28.8
166      8.2       13.1     21.3
167      NaN        NaN     13.3

[168 rows x 3 columns]

In [105]:
df[[df.columns[3],df.columns[4],df.columns[5]]][2:15:2]

    평균기온(℃)  평균최고기온(℃)  최고기온(℃)
2       7.3       11.9     19.8
4      17.7       22.7     28.5
6      25.1       28.4     32.9
8      22.0       26.9     32.0
10      7.6       11.7     18.4
12     -2.0        2.3     12.2
14      6.0       10.6     22.2

In [106]:
# 데이터 프레임 요소 접근 하기 복습 (읽기와 수정)
# 1. df.loc[행번호, 열] : 명시적인 index
# 2. df.iloc[행번호, 열] : 함축적인 index, int형